@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Mulish";
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* -------------------------------------- */

header {
  background-color: white;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15),
    0px 2px 2px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.15),
    0px 8px 8px 0px rgba(0, 0, 0, 0.15);
  padding: 1em;
  flex: none;
}

h1 {
  color: #074f57;
  text-align: center;
}

/* -------------------------------------- */

main {
  flex: auto;
}

main .predictions {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main .prediction {
  min-height: 250px;
  min-width: 250px;
  padding: 16px;

  color: white;

  background-color: #074f57;
  background-size: cover;

  border-radius: 8px;

  text-shadow: 0px 0px 10px black;
}

main #prediction1 {
    background-image: url("/static/main_app/images/josefin-HtCgLIDy-2U-unsplash.jpg");
}

main #prediction2 {
    background-image: url("/static/main_app/images/sebastian-hans-lkpW4VC_dqI-unsplash.jpg")
}

main #prediction3 {
    background-image: url("/static/main_app/images/yousef-espanioly-hbQeCpo-Cp0-unsplash.jpg")
}


main .prediction-a {
    text-decoration: none;
    transition: transform 0.25s linear;
}

main .prediction-a:hover {
    transform: scale(1.03)
}

/* -------------------------------------- */

footer {
  background-color: black;
  color: white;
  padding: 1em;
  flex: none;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

footer ul li {
  flex: 1;
  text-align: center;
}
